<div class="board-column-title shadowdiv noshow">
  <div class="shadowdiv board-column-config">
    <input class="limit-input form-control" type="text" placeholder="{{'board.config.limit.work'|translate}}">
    <input class="limit-input form-control" type="text" placeholder="{{'board.config.limit.effort'|translate}}">
    <button type="button" class="limit-input-button limit-input my-btn btn btn-default">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button type="button" class="limit-input-button limit-input my-btn btn btn-default">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
