<div ng-repeat="itm in getColumn(state).column.items  track by $index  | orderBy:'verticalIndex'"
     ng-drag="true"
     ng-drag-data="itm"
     data-allow-transform="true"
     ng-center-anchor="true"
     class="item-panel-wrapper">
  <div style="height: 50px;" ng-show="itm.showMenu">
    <button type="button" class="my-btn item-edit-btn btn btn-primary pull-left" ng-click="decrementState(itm)">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button type="button" class="my-btn item-edit-btn btn btn-primary pull-right" ng-click="incrementState(itm)">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>
  <div class="item-panel panel panel-default panel-draggable" id="item-panel-{{itm.id}}">
    <div class="panel-heading">
      <span class="panel-title panel-title-text">{{itm.id}} {{itm.title}}</span>
      <div class="pull-right">
        <button class="my-btn item-edit-btn btn btn-primary" type="button" ng-click="itm.showMenu = !itm.showMenu"
                ng-click="showDialog(itm)"><span
          class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" data-target="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" class="my-btn item-edit-btn btn btn-primary">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <span ng-bind-html="itm.text"></span>
      state {{itm.state}}
      editor {{itm.editor}}
    </div>
  </div>
</div>

<div id="clone-helper" ng-drag-clone="">
  <div class="item-panel panel panel-default panel-draggable">
    <div class="panel-heading">
      <span class="panel-title panel-title-text">{{draggedItem.id}} {{draggedItem.title}}</span>
      <div class="pull-right">
        <button class="my-btn item-edit-btn btn btn-primary" type="button"><span
          class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" data-target="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" class="my-btn item-edit-btn btn btn-primary">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <span ng-bind-html="draggedItem.text"></span>
      state {{draggedItem.state}}
      editor {{draggedItem.editor}}
    </div>
  </div>
</div>

