.my-btn {
  background-color: #93C899;
  border-color: #93C899;
}

.my-btn.inactive {
  opacity: 0.5;
}

.my-btn:hover {
  background-color: #74B278;
  border-color: #74B278;
}

.my-btn:active {
  background-color: #619365;
  border-color: #619365;
}
.my-btn:focus {
  background-color: #619365;
  border-color: #619365;
}

.my-btn:active:focus {
  background-color: #619365;
  border-color: #619365;
}
