.dialog-parent {
  width: 100%;
  height: 500px;
  border: 1px dotted lightgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 1px 18px 18px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 18px 18px -13px rgba(0,0,0,0.75);
  box-shadow: 1px 18px 18px -13px rgba(0,0,0,0.75);
}

.dialog-parent-hidden {
  display:none;
}
.ta-editor.ta-html, .ta-scroll-window.form-control {
  width: 756px;
}

.ta-toolbar.btn-toolbar {
  margin-bottom: 5px;
}

.item-data-input-number {
  margin-top: 15px;
  width: 150px;
  display: inline;
}

.item-data-input-name {
  margin-top: 15px;
  width: 448px;
  display: inline;
}

.dialog-content {
  margin-top: 40px;
}
